#mainNav {
    background-color: #AA1E22;
    text-transform: uppercase;
    font-weight: 700;
}

#about{
    background-color: #AA1E22;
    color: white;
}

#portfolio{
    background-color: #AA1E22;
    color: white;
}

#ourteam{
    background-color: #FFFFFF;
    color: #AA1E22;
}

#contactus{
    background-color: #AA1E22;
    color: white;
}


/*services*/

ul {
    list-style-type: none;
}

#services {
    background-color: #FFFFFF;
    color: #AA1E22;
}

#loadingbox .servicesbg {
    padding: 0 4%;
}

#services .servicesbg {
    float: left;
    position: relative;
    padding: 0 0 19%;
}

#services h1 {
    color: darkred;
    font-family: ;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float: left;
}

#swrap {
    left: 18.5%;
    top: 37.5%;
    width: 063%;
    float: left;
    position: absolute;
}

.negmarg {
    float: left;
    margin-top: -1em;
    width: 100%;
}

#grid {
    width: 100%;
}

#grid li {
    cursor: pointer;
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 9999;
}

#grid li#icoapplication {
    left: 46%;
    top: 1.7%;
}

#grid li#icowebsite {
    left: 79%;
    top: 25%;
}

#grid li#icographics {
    left: 75%;
    top: 59.5%;
}

#grid li#icocorvideos {
    left: 15%;
    top: 60%;
}

#grid li#icomultimedia {
    left: 5.8%;
    top: 25%;
}