#mainNav {
    background-color: #AA1E22;
    text-transform: uppercase;
    font-weight: 700;
}

#about {
    background-color: #AA1E22;
    color: white;
}

#portfolio {
    background-color: #AA1E22;
    color: white;
}

#ourteam {
    background-color: #FFFFFF;
    color: #AA1E22;
}

#contactus {
    background-color: #AA1E22;
    color: white;
    padding: 30px 0;
}


/*services*/

ul {
    list-style-type: none;
}

#services {
    background-color: #FFFFFF;
    color: #AA1E22;
}

#loadingbox .servicesbg {
    padding: 0 4%;
}

#services .servicesbg {
    float: left;
    position: relative;
    padding: 0 0 19%;
}

#services h1 {
    color: darkred;
    font-family: ;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float: left;
}

#swrap {
    left: 18.5%;
    top: 37.5%;
    width: 063%;
    float: left;
    position: absolute;
}

.negmarg {
    float: left;
    margin-top: -1em;
    width: 100%;
}

#grid {
    width: 100%;
}

#grid li {
    cursor: pointer;
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 9999;
}

#grid li#icoapplication {
    left: 46%;
    top: 1.7%;
}

#grid li#icowebsite {
    left: 79%;
    top: 25%;
}

#grid li#icographics {
    left: 75%;
    top: 59.5%;
}

#grid li#icocorvideos {
    left: 15%;
    top: 60%;
}

#grid li#icomultimedia {
    left: 5.8%;
    top: 25%;
}


/*wrapApplication*/

.imgWrap1 {
    position: relative;
    height: 140px;
    width: 70px;
}

.imgDescription1 {
    position: relative;
    top: 250%;
    right: 190%;
    width: 500%;
    height: 30%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    color: black;
    /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap1:hover .imgDescription1 {
    visibility: visible;
    opacity: 1;
}


/*wrapWebsites*/

.imgWrap2 {
    position: relative;
    height: 100px;
    width: 134.5px;
}

.imgDescription2 {
    position: relative;
    top: 165%;
    right: 328%;
    width: 300%;
    height: 30%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    color: black;
    /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap2:hover .imgDescription2 {
    visibility: visible;
    opacity: 1;
}


/*wrapGraphics*/

.imgWrap3 {
    position: relative;
    height: 160px;
    width: 70px;
}

.imgDescription3 {
    position: relative;
    bottom: 138%;
    right: 440%;
    width: 300%;
    height: 30%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    color: black;
    /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap3:hover .imgDescription3 {
    visibility: visible;
    opacity: 1;
}


/*wrapCorVid*/

.imgWrap4 {
    position: relative;
    height: 140px;
    width: 117px;
}

.imgDescription4 {
    position: relative;
    bottom: 115%;
    left: 119%;
    width: 300%;
    height: 30%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    color: black;
    /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap4:hover .imgDescription4 {
    visibility: visible;
    opacity: 1;
}


/*wrapMultimedia*/

.imgWrap5 {
    position: relative;
    height: 140px;
    width: 117px;
}

.imgDescription5 {
    position: relative;
    top: 92%;
    left: 190%;
    width: 300%;
    height: 30%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    color: black;
    /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap5:hover .imgDescription5 {
    visibility: visible;
    opacity: 1;
}


/*END SERVICES*/


/*FOOTER*/

footer {
    color: #AA1E22;
    padding: 20px 0;
}